<style>
.anonseImageDiv{
  float: left;
  width: 20%;
}
.anonseImage {
  margin: 10px;
}
.anonseParagraph {
  text-align: justify;
}
</style>

<div>
    <div class="anonseImageDiv">
        <img src='smile-1.gif' class="anonseImage">
        <img src='smile-1.gif' class="anonseImage">
    </div>
    <p class='anonseParagraph'>Нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто</p>
    <p class='anonseParagraph'>Нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто</p>
    <p class='anonseParagraph'>Нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто</p>
    <p class='anonseParagraph'>Нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто</p>
    <p class='anonseParagraph'>Нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто, нечто</p>
</div>