.App-logo {
  width: 64pt;
  padding: 5pt;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Readme-div{
  text-align: initial;
}

.Readme-div > p > img{
  max-width: 100%;
  padding: 15px;
}
.App-left-menu{
  font-size: 16pt;
  text-align: left;
}

.App-header-text-column{
  display: flex; 
  align-items: center; 
  font-size: 24pt; 
  font-weight: bold; 
  font-family: "Helvetika"
}

.App-header-smile{
  width: 32pt;
  margin-left: 20px;
  animation: App-logo-spin infinite 5s linear;
}

.App-header {
  background-color: #e3ecff;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(61, 1, 1);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.help-page-nav{
  float: right;
  max-width: 30%;
  padding: 20px;
}

.help-page-prefix{
  width: 70%;
  float: left;
}

.help-page-suffix{
  float: left;
  font-size: 12px;
  position:relative;                  
  bottom:0;                          
  right:0;                           
}

.help-page-image{
  padding: 10px;
}

.anonseImagesDiv{
  float: left;
  width: 20%;
  padding: 10px;
}
.anonseImagesDiv > img{
  max-width: 100%;
} 
.anonseCardHeader {
  font-size: 2em;
  font-weight: bold;
  color: rgb(61, 1, 1);
}
.anonseParagraph {
  text-align: justify;
}


